[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/structuprint/structuprint_gui.pl
Name=Structuprint
Comment=A utility for analysis of MD simulations and of single PDB structures.
Icon=/opt/structuprint/images/logo.png
Categories=Graphics;Science;
StartupWMClass=Structuprint_gui.pl
